@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Order Confirmed Successfully</p>
     <a asp-controller="FeedBacks" asp-action="Index" >Click on FeedBack</a><br/>
     <a asp-controller="Orderreturns" asp-action="Orderreturn" >Order Return</a>|


