@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="b">
    <marquee scrollamount=10 behaviour="slide">
    <h4 class="display-4"><font color="Blue">Welcome To OnlineShopping</font></h4></marquee>
@*    <p>Buy More<a href="https://docs.microsoft.com/aspnet/core">Pay Less</a>.</p>
*@</div>
